[2012-03-28 23:32] madmatah opened #1 "ClassCastException in dev mode w/ Hot reload"
I have a simple project with this DeadboltHandler/getRoleHolder implementation :

[code]

And a simple action with a restriction  :

[code]

It works like a charm... until I make a change in any of my classes (in Dev mode with hot reloading).
After hot-reloading : i get a ClassCastException on every call to getRoleHandler() :

[code]

After some investigations, i found the cause :
Deadbolt class l

[2012-03-30 13:10] #1 closed, assigned to nobody

[2012-04-03 19:57] oseval opened #4 "annotations in scala"
In scala play20 application deadbolt2 dont work because annotations for scala api.
Ticket in play20 bugtracker https://play.lighthouseapp.com/projects/82401/tickets/300-after-creation-of-new-application-annotations-does-not-works

May be I do something wrong, but I cant use deadbolt2 in scala controllers. Samples does not works for me - no errors, and no effect from Restrict annotations. In Java c

[2012-04-05 07:17] #4 closed, assigned to nobody

[2012-04-22 16:44] adis-me opened #5 "comma seperated resolvers in Build.scala"
When trying to run the sample applications (inside samples folder) I get the following error:

[code]

I solved iby adding a comma after the first line:

[code]

[2012-04-22 17:50] #5 closed, assigned to nobody

[2012-05-08 16:16] seantbrady opened #6 "Problem resolving deadbolt-2 dependency"
The README implies that one would be able to resolve the deadbolt-2 from http://schaloner.github.com/releases/.  Is that true or just an example?  In any case, the URL returns 404.

Also, I'm interested in helping where I can on this project, so I'll likely start with some documentation contributions once I get more comfortable with the module.

[2012-05-09 12:42] #6 closed, assigned to nobody

[2012-06-25 12:56] joscha opened #7 "Logging null 2x on Deadbolt.viewRoleHolderPresent()"
Hi,

when using:

@if(Deadbolt.viewRoleHolderPresent()) {
bla
} else {
bla
}

in templates, there are two null Logs made:

-- 8< --
2012-06-25T01:10:53+00:00 app[web.1]: [error] application - null
2012-06-25T01:10:53+00:00 app[web.1]: [error] application - null
--8< --

Not sure where they come from, but as soon as I comment out the piece of code above they don't appear any more.

[2012-06-26 17:33] joscha opened #8 "How to define that role must not be present"
How can I make a controller forbidden for users that are logged in - e.g. @RoleHolderNotPresent ? Is there a way to achieve this via annotations or do I need to do this within the controller as code?

[2012-06-26 18:01] joscha opened #9 "Combining @Restrict and @Dynamic"
In Play 2.1-TRUNK the combination of @Restrict and @Dynamic does not seem to be possible.

I tried

[code]

and I wanted the role user to be present and then check whether this user has access to the actual resource requested...

[2012-06-27 06:43] #8 closed, assigned to nobody

[2012-07-03 11:38] rajish opened #10 "ScalaboltHandler instantiation exception"
Compiling the `deadbolt-usage-scala` sample causes no problems despite the `deadbolt.handler` property is set to the non-existent `security.MyDeadboltHandler` class.
Setting the property to `security.MyScalaboltHandler` doesn't break anything nor does commenting the property out in the `application.conf` file. What's more the sample does not have the file play.plugins, and still it works perfectly

[2012-07-08 12:34] quentinous opened #11 "[RuntimeException: A dynamic resource is specified but no dynamic resource handler is provided]"
Hey,

I try to use the dynamic resource handler from your sample role-inheritance  but it looks that I miss something...
So in my view I use :
 @dynamic("minimumLevelRequired", "role.prospect") {
        <a>foo</a>
 }

And I have a runtime exception like this:
[RuntimeException: A dynamic resource is specified but no dynamic resource handler is provided]

Do I need to configure something else ?

M

[2012-07-08 18:35] #11 closed, assigned to nobody

[2012-07-15 09:52] alexgutjahr opened #12 "@RoleHolderNotPresent not present"
Just a quick question:

I just started restricting access to all my controllers. I'd like to have the @RoleHolderNotPresent annotation on my login action, but the annotation is simply not found (see: http://i50.tinypic.com/2iv0m7m.png).
Is this a known issue, or did I configure anythin wrong? I'm using version 1.1.2

Thanks,
Alex

[2012-08-02 10:20] #12 closed, assigned to nobody

[2012-08-29 18:06] khivi opened #14 "Scala Form example from Play will not compile"
[code]

[2012-10-06 16:56] johnykoshy opened #15 "View Restrictions, @restrict not working as expected."
In view restrictions @restrict(la(as("foo"))) is allowing access for role with "foo".
If a NOT is added to
@if(be.objectify.deadbolt.Deadbolt.viewDynamic(name, meta)) {
@body
}
in dynamic.scala.html may solve this. Further check is required.

Also there is documentation errors for @roleHolderPresent() and @roleHolderNotPresent(). It should be @roleHolderPresent and @roleHolderNotPresent.

Thanks f

[2012-10-16 11:22] paologentili opened #16 "not getting http response if exception is thrown inside onAccessFailure"
Hi,
i've got an action secured like this
    @Restrictions({@And(AppGatewayConsts.ROLE_ADMIN),@And(AppGatewayConsts.ROLE_USER)})

When testing a non authorized request i got this exception thrown inside the onAccessFailure code which resulted in the http response never returned and so the server stuck.
this is the console output

[code]

The exception inside the onAccessFailure method was thrown b

[2012-10-25 14:03] #16 closed, assigned to schaloner

[2012-10-30 13:00] soswow opened #17 "Deadbolt handler fires before Security module in case of method level annotation."
I have the code:

[code]

And for me it doesn't work, because in my DeadboltHandler I get current user's username from request().username(), which sets in Secure.

[code]

So, if I leave only class level annotation - it works, but for method level - it doesn't. Which is sad, because I can't do action specific restrictions.

[2012-11-14 09:18] gladwig opened #18 "Readme contains wrong dependency"
Hi,

the example Build.scala in README.textile contains a wrong (outdated?) dependency for deadbolt-2:

[code]

It should be (as is mentioned just two lines above):

[code]

This cost me just way too much time to figure out why the dependency was not working ;)

[2012-11-14 13:37] mirkoadari opened #19 "Error messages with @RoleHolderNotPresent"
[error] application - Access to [/login] requires a RoleHolder, but no RoleHolder is present.

@RoleHolderNotPresent
  public static Result login() {
    return ok(login.render(form(Login.class)));
  }

[2012-11-20 18:44] #18 closed, assigned to nobody

[2012-11-21 06:08] #15 closed, assigned to schaloner

[2012-11-22 13:05] #17 closed, assigned to schaloner

[2012-12-03 18:37] sjbwylbs opened #20 "It's work on 2.10 ?"
[info] Updating {file:/Users/sjbwybls/Work/Dinner/catering/trunk/server/}server...
[warn]  module not found: be.objectify#deadbolt-2_2.10;1.1.2
[warn] ==== local: tried
[warn]   /Users/sjbwybls/Document/gitrepo/play/Play20/repository/local/be.objectify/deadbolt-2_2.10/1.1.2/ivys/ivy.xml
[warn] ==== Typesafe Releases Repository: tried
[warn]   http://repo.typesafe.com/typesafe/releases/be/objectify

[2012-12-05 11:33] #10 closed, assigned to schaloner

[2012-12-05 11:34] #20 closed, assigned to nobody

[2012-12-05 11:34] #14 closed, assigned to schaloner

[2012-12-10 09:06] #19 closed, assigned to schaloner

[2012-12-27 21:42] poornerd opened #23 "Dependency Problem"
I am using Play! Framework 2.0.4

I have this in Build.scala:

[code]

And when I try running the project I get this:

[code]

What gives?  Are the repositories not available?  Or am I missing something?

[2013-01-01 15:50] sjbwylbs opened #24 "how to make deadbolt-2 a Role-based access control module"
In example
I see  Permission is just an another Role,so how is Permission's job? and Role vs Permission what 's differently?

So. I thinks.current version would be wrongs.

[2013-02-04 04:18] genglei01 opened #26 "how use @Dynamic and @subject at the same action"
I want to user @Dynamic and @subject at the same action，and take effect at the same time.
eg.: If I do not login  or  MyAlternativeDeadboltHandler return false, access failed.

actually,if i login, i can access this action，do not call MyAlternativeDeadboltHandler.

 @SubjectPresent(handler=MyAlternativeDeadboltHandler.class)
    @Dynamic(handler=MyAlternativeDeadboltHandler.class,value="")
  publi

[2013-03-02 13:12] #24 closed, assigned to nobody

[2013-03-13 19:15] ghost opened #27 "Assigning a Default Handler?"
I am unable to use a default constraint without assigning a handler.

Ex.
@SubjectPresent(handler = MyDeadboltHandler.class)
or
@Restrictions(value = {@And("Admin"), @And("Web Team")}, handler = MyDeadboltHandler.class)

If handler is not assigned, I get a white screen with zero content and a "subject null" error in the logs.

I am obviously missing something.

[2013-03-13 19:34] #27 closed, assigned to nobody

[2013-04-08 07:23] ruud opened #28 "Compiler: java.lang.ClassCastException"
Hello,

My compiler complains when I use the latest Deadbolt version:
- MacOSX 10.8.3
- java version "1.7.0_17"
  Java(TM) SE Runtime Environment (build 1.7.0_17-b02)
  Java HotSpot(TM) 64-Bit Server VM (build 23.7-b01, mixed mode)
- Play 2.1.1

Error message:

[error] An exception has occurred in the compiler (1.7.0_17). Please file a bug at the Java Developer Connection (http://java.sun.com/weba

[2013-04-26 07:29] pycloux opened #29 "checkPermission vs isAllowed"
Hi Steve,

I am struggling to understand the reason for having two methods in the DynamicResourceHandler:
- isAllowed
- checkPermission

I've coded a few tests and it seems that "checkPermission" is never called.

Please could you enlighten me on what is the purpose of each method ?

Best regards,

PYC

[2013-05-17 00:48] razorman8669 opened #30 "Error with deadbolt-2 core through maven"
SBT is unable to retrieve deadbolt with the following error:

[code]

See here http://fpaste.org/12667/ for full stack trace

It worked before, but now there seems to be something wrong...is this a problem with github?

My Build.scala file contains the following:

[code]

[2013-05-19 16:25] #30 closed, assigned to nobody

[2013-05-28 21:27] dnul opened #31 "@Dynamic deferred with @SubjectPresent"
Hi, I'm currently using this version:  "be.objectify" %% "deadbolt-java" % "2.1-RC2" in a play 2.1 app, I'm having issues using both @Dynamic(deferred=true) at method-level with @SubjectPresent at controller level.

I modified the sample project in github to test this:

    @SubjectPresent
    @DeferredDeadbolt
    public class DeferredController extends Controller
    ....
    @Dynamic(value="pur

[2013-06-11 01:40] ykoasanto opened #32 "@restrict is not working in parent template in views"
Hi Steve,

We came across an issue, where @restrict works on the page(subtemplate) immediately referred by our controller in play, but it's not working when used in the parent template called.

We passed the deadbolt handler from the subtemplate; and in the our parent template page retrieve get the handler i.e.:

subtemplate:
@main("Managers", handler)

parent template:
@(title: String, handler: b

[2013-07-25 01:38] derek-tan opened #33 "Using @Dynamic at class level and method level"
Hi, i am using "be.objectify" %% "deadbolt-java" % "2.1-RC2".

I tried:

<pre>
@Dynamic("dyn1")
@DeadboltDeferred
public class Application extends Controller {
     @Dynamic("dyn2", deferred=true)
     public static Result index(){....}
}
</pre>

only "dyn2" seems to be executed in this case. What I would expect it be is an AND relationship in the execution order of "dyn1" and "dyn2"

is there a w

[2013-08-04 13:26] 13h3r opened #34 "Scala documentation"
It will be good to fill https://github.com/schaloner/deadbolt-2-guide/blob/master/09-deadbolt-scala-templates.markdownm and https://github.com/schaloner/deadbolt-2-guide/blob/master/10-deadbolt-scala-controllers.markdown

[2013-08-20 19:38] rajeshvenkat opened #35 "[Play 2.1.2]: Plugin [be.objectify.deadbolt.DeadboltPlugin] cannot been instantiated."
Hello there,

I am currently using play 2.1.2 and trying to integrate deadbolt-2 to perform basic authorization. However, I am running in to this error:

[code]

Looks like it's not able to resolve and obtain DeadboltPlugin. Tried a few things as mentioned in other forums, still with no luck. I am currently using the following in my Build.scala

[code]

Any help is greatly appreciated. Thanks!

[2013-08-23 06:25] larousso opened #36 "How to disable deadbolt for functional test on controllers ?"
Hi,

I use deadbolt in my app but I am blocked in my functional test when I want to test some rest api that are restrict.
Is it possible to disable deadbolt or to authenticate a fake user for ths kind of tests ?

Thanks

[2013-08-27 21:42] mbmihura opened #37 "Restrictions constraint implementation and documentation"
Hello there,

I am currently using play 2.1 with deadbolt-2 to perform basic authorization. However, when trying to implement OR, AND role's combination, I couldn't implement them even following https://github.com/schaloner/deadbolt-2-guide/blob/master/06-deadbolt-java-controllers.markdown documentation.
Neither could import the Restriction class/interface to be used in a project, or find its sour

[2013-09-16 20:05] smola opened #38 "Prepare for Play 2.2 upgrade"
As far as I have seen, the upgrade to Play 2.2 requires deadbolt to:
- Change play's groupId to `com.typesafe.play`.
- Add `cache` next to `javaCore` to the dependencies where relevant (e.g. `deadbolt-2-java`).
- Use the new Action API, see http://www.playframework.com/documentation/2.2.x/Migration22 (this affects both `deadbolt-2-java` and `deadbolt-2-scala`.

[2013-09-30 10:54] #38 closed, assigned to schaloner

[2013-10-09 08:51] DiogoTavaresDeAlmeidaRibeiro opened #39 "Compatibility with Play 2.2.0"
Is the latest version of deadbolt compatible with Play 2.2.0?

Thanks

[2013-10-09 13:13] #39 closed, assigned to nobody

[2013-12-08 12:33] joscha opened #41 "Recompile deadbolt2 for Play 2.2.1 and add to repository"
Hey Steve,

I just found out, that using the RC2 dependency for deadbolt2 causes problems with Play 2.2.1 (no problem with 2.2.0), because the `cache` dependency is pulled in with 2.2.0 instead of 2.2.1 (see https://github.com/schaloner/schaloner.github.com/blob/master/releases/be.objectify/deadbolt-java_2.10/2.2-RC2/ivys/ivy.xml:

[code]

would you mind recompiling deadbolt2  with Java 1.6 and Pl

[2013-12-30 17:19] seantbrady opened #42 "NullPointerException when getting SimpleResult from DeadboltHandler.beforeAuthCheck()"
In `AbstractRestrictiveAction`, `BeforeAccessAction`, `SubjectNotPresentAction`, and `SubjectPresentAction`, the result of `DeadboltHandler.beforeAuthCheck()` is being called without a null check.  Since `beforeAuthCheck` is expected to return null, a NullPointerException occurs.

[2014-02-03 08:49] #42 closed, assigned to schaloner

[2014-02-07 16:02] FrEaKmAn opened #43 "Better support for DI"
Hello

I'm using Dependency Injection together with Spring repositories. So basically I inject repository to access database data. Using your code, I want to inject into SecurityHandler which extends AbstractDeadboltHandler, so I can use it in getSubject method. Are there any good ways to accomplish this?

At the moment, I'm solving it with

    @Override
    public Subject getSubject(Http.Context

[2014-03-13 19:04] craigwblake opened #45 "Restricted annotation breaks Play Transactional annotation"
I've run into a problem with an app I am building on Play 2.2.2 (using Deadbolt 2 version 2.2.1-RC2).  I am using JPA with the Play @Transactional annotation, which works fine, but as soon as I add the Deadbolt 2 @Restricted annotation, JPA stops working completely, and fails on every call with an error saying that there is EntityManager bound to the thread.

Any ideas how to work around this?

Th

[2014-04-23 15:43] silbermm opened #46 "When will this be available in Maven Central?"

[2014-06-04 09:43] sander24 opened #47 "Latest release incompatible with new Play! 2.3.0"
Hi,

In Play 2.3.x, SimpleResult type has been renamed to Result. They have added "an alias type" SimpleResult "for smoother migration", but this doesn't seem to help in Deadbolt-related actions. The particular problem is that AbstractDeadBoltAction.onAuthFailure has return type Promise<SimpleResult>. This probably just has to be changed to play.mvc.Result and this would probably solve the issue.

[2014-06-08 07:01] #47 closed, assigned to nobody

[2014-06-10 11:00] francisdb opened #48 "cross-compile to scala 2.10 / 2.11"
I see that 2.3.0-RC1 is only available for scala 2.11
since play 2.3 is available both on 2.10 and 2.11 it would be better to also release 2.10 artifacts

[2014-06-13 07:17] #48 closed, assigned to nobody

[2014-06-13 15:20] martonp opened #49 "Combining Java and Scala"
I made my custom Deadbolt handler in Java because most of what I am using is java, but if I wanted to Deadbolt is some scala classes as well, would I have to implement another deadbolt handler in scala?

[2014-07-09 04:14] johnykoshy opened #50 "Recompile deadbolt-2 for play 2.3.1"
Hi,
Could you recompile deadbolt for play-2.3.1.

Thanks

[2014-07-11 14:01] #50 closed, assigned to nobody

[2014-07-28 10:56] #23 closed, assigned to nobody

[2014-08-17 20:10] benmccann opened #51 "Make library available through Maven via https"
Downloading software over http is a security risk. See http://blog.ontoillogical.com/blog/2014/07/28/how-to-take-over-any-java-developer/

[2014-08-24 19:56] dengalepirat opened #52 "Scala: DeadboltHandler#getSubject not asynchronous?"
I have been looking through the deadbolt 2 scala code to determine if getSubject is async or not, and I found it not to be.

It is used directly inside DeadboltActions#Restrict etc. without being wrapped in a Future. Action.async in Play 2.3 doesn't translate the call into a Future, but only requires it to return a Future.
Therefore if anyone, including me, decides to make a database call in getSu

[2014-09-04 11:49] istvano opened #53 "How to validate permission which is content related"
Hi Guys,

I have a question on how to best implement a given scenario with Deadbolt I hope someone can help me out.

I have a user who has a role -> document:edit:US defining that this user can edit every document from the US.

My controller ( API ) receives a document submit POST request where I need to validate if the submitting user can submit the given document for the country he / she is send

[2014-09-05 08:52] #53 closed, assigned to nobody

[2014-09-08 12:09] #29 closed, assigned to nobody

[2014-09-08 15:13] vizog opened #54 "Is it possible to chain multiple restrictions?"
I was trying to combine multiple restrictions like this:

[code]

The first check passes because the subject has "foo" and "bar" roles.
The second check doesn't pass if it is used alone (not after @Restrict)
I expect the overall check not to pass, but it does pass and the content is rendered.
I read the source and saw that, if a restriction is passed with an action (say the first @Restrict),
the r

[2014-09-25 00:43] rosca81 opened #55 "Problem using @Restrict annotation in controllers ..."
Hello Steve!

I'm using deadbolt in my play 2.3 application, it works perfectly in my views using:
<b>"@restrictOr(la(as("MyRole"))) {" </b>

However, when I try to use it directly in controllers with something like:
<b>"@Restrict({@Restrict("superadmin"), @Restrict("admin"), @Restrict("operator")})"  </b>

It comes out this error:
![screen shot 2014-09-24 at 7 34 33 pm](https://cloud.githubuserco

[2014-10-15 13:47] gbersac opened #56 "File play/plugins : adding be.objectify.deadbolt.java.DeadboltPlugin throws error"
If I add the line in the file play/plugins (this is the only line in the file) :

I get the following error message :

[code]

If I remove this line, all of my program, which use few classes of DeadBolt, work fine.
Can you help me solve this problem ?

[2014-10-19 17:00] #51 closed, assigned to nobody

[2014-10-19 17:02] #52 closed, assigned to nobody

[2014-10-19 17:03] #46 closed, assigned to nobody

[2014-10-19 17:03] #41 closed, assigned to schaloner

[2014-10-19 17:04] #35 closed, assigned to nobody

[2014-10-21 14:02] #56 closed, assigned to nobody

[2014-10-22 05:53] #28 closed, assigned to schaloner

[2014-10-22 05:53] #32 closed, assigned to nobody

[2014-10-22 05:58] #37 closed, assigned to nobody

[2014-10-22 06:00] #33 closed, assigned to nobody

[2014-10-22 06:00] #54 closed, assigned to nobody

[2014-10-22 06:01] #55 closed, assigned to nobody

[2014-10-22 06:01] #49 closed, assigned to nobody

[2014-10-22 06:02] #45 closed, assigned to schaloner

[2014-10-22 06:04] #26 closed, assigned to schaloner

[2015-02-18 10:22] aeusebio opened #57 "Multiple levels of @Restrict"
Hi there, I'm trying to authorize a client and a user.

For instance, only clients with the role "api" can access the actions of the controller "Api", and within the controller, only the users with the role "admin"  can access the action "foo".

Example:
[code]

The issue is that the @Restrict tag uses always the last handler called to check the subject. In the example above, the user handler is a

[2015-03-11 14:48] schaloner commented on #57
Hmm, each invocation should use the locally defined handler (or the default handler if nothing is specified).  But, if the Restrict on the foo() method passes, the outer restrict won't be applied (i.e. the most specific restriction takes priority).

[2015-03-31 07:15] schaloner commented on #57
If you want to restrict foo() to users with the "api" and "admin" roles, the Group definition of foo() should be

    @Group({"api", "admin"})

[2015-03-31 09:49] aeusebio commented on #57
Ok, but I need to authorize a client and a user (the user interacts with my system using a client).

Imagine, I want some controllers to be accessed by a specific client, and I want to specify, which users can access which actions of those controllers.

For instance, I want my client "foo" to have access to all the controllers, but my client "foo2" to only have access to one of the controllers. On

[2015-03-31 10:21] schaloner commented on #57
I think that instead of using Restrict, you might be better off using Dynamic - this leaves you completely free to define your own constraints.

WRT the JPA issue, I have seen people suggest you put the Transactional annotation before the Deadbolt annotations.  Alternatively, you can wrap your code in an annotation manually in the controller (which is annoying).

[2015-04-01 09:31] aeusebio commented on #57
Ok, I'm going to do that. But it would be nice if in runtime the annotations could respect the handlerKey's given to them.

WRT the JPA, that was the solution that I implemented. I believe the problem is more in the Play Framework side than the deadbolt.

Anyway, thanks for your help.

[2015-04-01 09:31] #57 closed

[2015-04-01 09:38] schaloner commented on #57
I'm looking at the handler key issue - it's quite weird, because each action is configured by the annotation that invokes it so there shouldn't be any bleed between them.  Let me know if you have any more issues, and good luck!

[2015-04-05 08:14] schaloner commented on #43
This will be implemented as of Deadbolt 2.4 to take advantage of the built-in DI support.

[2015-04-05 08:14] #43 closed

[2015-05-03 13:05] eximius313 opened #58 "Play 2.4 support"
Hi,

Are you going to support Play 2.4 and dependency injection?
So far the error message says:

<code>
Could not find a suitable constructor in be.objectify.deadbolt.java.DeadboltPlugin. Classes must have either one (and only one) constructor annotated with @Inject or a zero-argument constructor that is not private.
  at be.objectify.deadbolt.java.DeadboltPlugin.class(Unknown Source)
  while loca

[2015-05-15 09:05] anunpn opened #59 "Mock deadbolt authentication:Play application"
Hi,
   While running scala test, how can I mock deadbolt auth?

[2015-05-19 10:15] anunpn commented on #36
@schaloner , can you please explain this solution in detail?

[2015-05-22 05:25] schaloner commented on #36
@anunpn how many handlers do you have?

[2015-05-22 05:43] anunpn commented on #36
Let me explain you the details very quickly.

At controller,

def performAction = AuthAction(“perm”).async(parse.json[Request])

trait AuthAction extends DeadboltActions {

class Request[A](val userInfo : UserInfo, request: Request[A]) extends WrappedRequest[A](request)

  def subjectPresentHandler = new AuthSubjectPresentHandler
  def permissionPatternHandler = new AuthPermissionPatternHandler

[2015-05-22 05:44] anunpn commented on #36
thanks in advance

[2015-05-22 08:01] keepscoding commented on #58
me too. hope it will ready before the 2.4 release

[2015-05-28 18:21] nafg commented on #58
+1

[2015-06-01 06:38] schaloner commented on #36
Wouldn't it make more sense to manipulate the request to provide a session ID?  Disabling Deadbolt here would fundamentally change how your code works.

[2015-06-01 07:00] schaloner commented on #58
It's in progress at the moment.

[2015-06-04 10:37] schaloner commented on #58
`"be.objectify" %% "deadbolt-java" % "2.4.0-SNAPSHOT"` should give what you you're looking for.  Documentation coming later today, but the release notes on https://github.com/schaloner/deadbolt-2-java should be enough to get you started.

[2015-06-04 10:46] eximius313 commented on #58
::::::::::::::::::::::::::::::::::::::::::::::
::          UNRESOLVED DEPENDENCIES         ::
::::::::::::::::::::::::::::::::::::::::::::::
:: be.objectify#deadbolt-java_2.11;2.4.0-SNAPSHOT: not found
::::::::::::::::::::::::::::::::::::::::::::::

[2015-06-04 10:53] schaloner commented on #58
You probably need to add a resolver for the snapshot repo in your build.sbt

    resolvers += Resolver.sonatypeRepo("snapshots")

[2015-06-04 10:59] eximius313 commented on #58
yes, you were right

[2015-06-04 11:14] eximius313 commented on #58
I didn't have it, but adding it unfortunatelly didn't work :(
[code]

[2015-06-04 11:20] schaloner commented on #58
Damn, there's a problem with the Travis build script.  I'm re-running it now, will let you know when it's done.

[2015-06-04 11:33] schaloner commented on #58
@eximius313 OK, it's published:

https://oss.sonatype.org/#nexus-search;gav~be.objectify~deadbolt-java_2.11~2.4.0-SNAPSHOT~~

[2015-06-04 12:55] eximius313 commented on #58
It works!
I'm waiting for the updated documentation to start my deadbolt-2 adventure ;)
Thank you so much ;)

[2015-06-04 14:58] schaloner commented on #58
The old docs are still good, you just have to follow the interface/trait contract.

If a method returns, say, an F.Promise<Optional<Subject>> and you want it to be null then don't return null or a promise that completes to null.  Instead, return F.Promise.pure(Optional::empty)

If a method returns, say, F.Promise<Boolean>, then it can not complete to null (because it's not an optional type), don't

[2015-06-05 08:55] schaloner commented on #58
@eximius313 Take a look at https://github.com/schaloner/deadbolt-2-java-examples for some usage and set-up examples.

[2015-06-05 08:55] #58 closed

[2015-06-07 11:09] eximius313 commented on #58
Steve,

Everything works like a charm - thank you very much!
My only one concern is how to use ```@Dynamic``` with ```@Restrict``` combined.
Can you point me to an example or documentation about it?

Kind regards

[2015-06-07 12:01] eximius313 commented on #58
And by the way - the same error occurred again today:
https://github.com/schaloner/deadbolt-2/issues/58#issuecomment-108845004

[2015-06-07 16:42] eximius313 commented on #9
+1

[2015-06-07 16:51] eximius313 opened #60 "Specify handlerKey for the @restrict(la(as("foo"))) template"
While using ```@Restrict``` annotation one can specify ```handlerKey``` property.
I have read somewhere that this handler, once instantiated, is being cached.
Is it true?
If yes - it should be possible to specify handlerKey for the ```@restrict(la(as("foo")))``` template

So far I have found a workaround:
```@restrictOr(la(as("foo", "bar"), as("hurdy")), new com.example.SomeSpecificDeadboltHandler

[2015-06-07 19:29] schaloner commented on #60
Handlers are eagerly created and cached, and held in the HandlerCache instance.  You can inject this into your controllers, get the desired handler from there and then pass it into the template as a parameter.

Simple example:

    public class MyController extends Controller {
        private final HandlerCache handlerCache;

        @Inject
        public MyController(final HandlerCache handlerC

[2015-06-07 19:30] schaloner commented on #60
This approach also means you're not hard-coding handler choice into the templates, and so you get more flexibility.

[2015-06-07 19:31] schaloner commented on #58
It's not handled at the moment, but I'm working on it.  Now I don't need to support < Java 8, things will be a lot easier to achieve.

[2015-06-07 19:37] eximius313 commented on #58
Great!
Thank you!

[2015-06-07 19:42] eximius313 commented on #60
yeah, but if you allow to configure "handlerKey" in ```@Restrict``` then it would be nice and *consistent* across the API if ```@restrict``` would also allow to do it.
And last, but not least - even if I pass this handler to the template, I have to create/inject/find it somewhere else anyway so I loose the benefit of defining it in application.conf.

[2015-06-07 19:43] eximius313 commented on #60
By the way - which of these websites is most up-to-date:
http://deadbolt.ws/#/java-docs or http://deadbolt-2-java.herokuapp.com/#controller-Restrictions ?

[2015-06-07 19:56] schaloner commented on #60
I'll have a think about this - I'll need to do it in the least invasive way, but it's a good idea and now is the time to make breaking changes if they have to be made.

deadbolt.ws is the most up to date, but it's not been reworked for 2.4 yet.  https://github.com/schaloner/deadbolt-2-java-examples is the most up to date - this is the app which runs on heroku, but it hasn't been deployed there yet

[2015-06-07 20:03] eximius313 commented on #60
So in http://deadbolt.ws/#/java-docs look at the  ```Define a DeadboltHandler in the template```  subsection under the ```restrict``` section and compare it to the same subsection under the ```dynamic``` section. Is this correct?

If its about http://deadbolt-2-java.herokuapp.com/#controller-Restrictions
In 2.4 version I can not find ```@And``` and ```@Restrictions``` is this correct?

[2015-06-07 20:36] schaloner commented on #60
Doc error fixed, thanks.

`And` and `Restrictions` are gone - there's now a single `Restrict` constraint that handles this.  `And` was replaced by `Group`.

[2015-06-07 20:47] eximius313 commented on #9
So I think you could use this functionality: https://docs.oracle.com/javase/tutorial/java/annotations/repeating.html and let both ```@Restrict``` and ```@Dynamic``` inherit common ```@Restriction``` (for example) in order to achieve annotation chaining like explained here: https://github.com/schaloner/deadbolt-2/issues/9#issue-5279749
or like this:
[code]
I would expect that this is ```AND``` rela

[2015-06-07 20:50] eximius313 commented on #58
I've come up with some idaes concerning ```@Dynamic``` and ```@Restrict```: https://github.com/schaloner/deadbolt-2/issues/9#issuecomment-109798535

[2015-06-08 00:04] nafg commented on #58
Is there a final release for play 2.4? If not when?

[2015-06-08 04:59] schaloner commented on #9
It's not quite that straight-forward, because that would affect how class-level and method-level constraints interact..  Right now, the easiest way to achieve this is to use a Dynamic restriction, and build the chain within it.

[2015-06-08 05:01] schaloner commented on #58
@nafg there are still some features to be added, primarily support for https://github.com/schaloner/deadbolt-2/issues/9#issuecomment-109798535 but if I can't find a non-breaking solution in the next couple of days I'll make a final release and shift that feature to 2.4.1.

This is applicable for both Scala and Java versions.

[2015-06-16 20:13] eximius313 opened #61 "using @templates with cache-user=false causes IllegalArgumentException: Not an entity: class domain.User after recompilation"
If you set cache-user=false in application.conf and you use annotations on methods everything works fine: you can modify class/template, recompile and refresh the page.
Unfortunately, when you try to use templates (```@restrict(la(as("MY_ROLE")))``` for example) and you modify class/template, recompile and refresh the page you obtain weird exception:
[code]

[2015-06-16 20:15] eximius313 commented on #61
This ALSO happens with JPQL
```User result = find.where().eq(User.FIELD_EMAIL, email).findUnique();```

[2015-06-17 04:49] schaloner commented on #61
This only happens after recompilation?  If you start  your app with `cache-user=false`,`it works correctly?

[2015-06-17 09:38] eximius313 commented on #61
Yes.
If this exception occurs, I do ```ctrl+D``` and ```run``` again.
This works, but after 2-3 restarts I have this error: https://github.com/playframework/playframework/issues/4617
Without using template restrictions above error doesn't occur.

[2015-06-17 11:13] schaloner commented on #61
What happens if you:
- don't define cache-user=false  (just remove the entry from application.conf
- use cache-user=true instead

[2015-06-17 11:36] eximius313 commented on #61
When you don't define it, the situation is the same.
With cache-user=true it happens rarely.
Steps to reproduce:
1)put code in template:
[code]
2)load the page
3)uncomment, refresh page
4)enter new line, refresh page

[2015-06-20 19:15] eximius313 opened #62 "snaphot is outdated again"
[code]

[2015-06-21 13:47] eximius313 commented on #61
Have you managed to reproduce the error?

[2015-06-21 14:42] eximius313 commented on #9
by the way - if one would like to achieve ```OR``` relation instead of default ```AND```, then having something like this
[code]
one could achieve ```AND``` relation using this syntax:
[code]
and for ```OR``` relation this syntax:
[code]

[2015-06-23 13:29] mkurz commented on #61
I have the same problem using `deadbolt-java` `2.4.0-SNAPSHOT` with Play 2.4.1:
`@subjectPresentOr()` in a template causes the app to crash as soon you as change something and trigger a recompilation.

@schaloner Any thoughts?

[2015-06-23 14:37] schaloner commented on #61
I've managed to damage both my thumbs so I'm out of action for a couple of days. Will look at it asap.

[2015-06-23 14:41] mkurz commented on #61
@schaloner Get well soon!

[2015-06-23 14:44] eximius313 commented on #61
Oh! I hope you'll be alright soon!

[2015-06-23 21:01] eximius313 opened #63 "CreationException: Unable to create injector"
Newest deadbolt snapshot:

[code]

[2015-06-24 06:11] schaloner commented on #63
Did you create and expose your own HandlerCache implementation as in the [quickstart guide](https://github.com/schaloner/deadbolt-2-java/blob/master/QuickStart.md)?

[2015-06-24 06:12] schaloner commented on #61
3-fingered typing leaves something to be desired!

I suspect the issue is caused by https://github.com/schaloner/deadbolt-2-java/blob/master/code/app/be/objectify/deadbolt/java/ViewAccessPoint.java which is a hack to get around no DI in templates.

[2015-06-24 07:06] eximius313 commented on #63
No, I just use cache-user=true as before
24 cze 2015 08:11 "Steve Chaloner" <notifications@github.com> napisał(a):

[2015-06-24 08:15] schaloner commented on #61
I've found the issue - I'll commit the fix, update the examples, etc, this evening.  I'll update here when it's done.

[2015-06-24 08:16] eximius313 commented on #61
Great news!
Thank you so much!!

[2015-06-24 08:23] schaloner commented on #61
The problem is due to a static reference to a managed instance:

    public class ViewAccessPoint {
        public final static ViewSupport VIEW_SUPPORT;
        public final static HandlerCache HANDLERS;

        static {
            final Injector injector = Play.application().injector();
            VIEW_SUPPORT = injector.instanceOf(ViewSupport.class);
            HANDLERS = injector.instanceO

[2015-06-24 08:41] mkurz commented on #61
@schaloner NIce - I am happy to test a new `SNAPSHOT` :smile:

[2015-06-24 08:51] schaloner commented on #61
Excellent - once this fix is in and you're satisfied with it, I'm going to cut (and tag) the 2.4.0 final.   (Combining constraints will have to wait for 2.4.1.)

[2015-06-24 20:53] #62 closed

[2015-06-24 20:58] eximius313 commented on #63
No, I just use cache-user=true as before
Is it necessary to create own implementation?

[2015-06-24 21:02] eximius313 commented on #63
I see that in version 2.4.0 there is no class that implements be.objectify.deadbolt.java.cache.HandlerCache

Is it on purpose?

[2015-06-24 21:02] schaloner commented on #63
Yes, because it means reflection doesn't have to be used to create instances of handlers; it gives you a lot more flexibility.

You can see an example here: https://github.com/schaloner/deadbolt-2-java-examples/blob/master/app/security/MyHandlerCache.java

[2015-06-24 21:03] eximius313 commented on #63
I see that in version 2.4.0 there is no class that implements be.objectify.deadbolt.java.cache.HandlerCache

Is it on purpose?

[2015-06-24 21:03] schaloner commented on #63
See also this discussion: https://groups.google.com/d/topic/play-framework/KZcCdbWZXvQ/discussion

[2015-06-24 21:06] schaloner commented on #62
Try "be.objectify" %% "deadbolt-java" % "2.4.0" instead - I've just published it.

[2015-06-24 21:07] schaloner commented on #61
@eximius313 @mkurz v2.4.0 is released, plus the sample app is updated.

If you're using the Scala version, the latest is now 2.4.0.2.

Please let me know if you have any issues, and thanks for all your feedback!

[2015-06-24 21:08] eximius313 commented on #63
OK, so If I understood it well - custom HandlerCache is required now?

[2015-06-24 21:09] mkurz commented on #61
I will upgrade tomorrow and let you know if any issues appear. Thanks!

[2015-06-24 21:11] schaloner commented on #63
Yes.  This also provides info and background: https://github.com/schaloner/deadbolt-2-guide/blob/master/manuscript/04-deadbolt-java-hooks.md

[2015-06-24 21:31] eximius313 commented on #63
OK, understood.
Snapshot was working fine without custom Cache, that is why I was a little bit confused.
Thank you for helpful links. With custom cache it works fine

[2015-06-24 21:31] #63 closed

[2015-06-24 21:32] eximius313 commented on #61
This works for me!
Thank you so much @schaloner !!

[2015-06-24 21:32] #61 closed

[2015-08-05 06:55] osek666 opened #64 "Error in logs"
Hi! I new in play and deadbolt and I have simple question.
I have controler with action

[code]

I get "403 Authorization failed" in browser and it is perfectly clear beacause I'm not logged in. But I also have error in logs

[code]

It is normal or I implemented something wrong?

[2015-08-05 19:51] schaloner commented on #64
That's absolutely normal.  You can find the relevant code here: https://github.com/schaloner/deadbolt-2-java/blob/master/code/app/be/objectify/deadbolt/java/actions/AbstractDeadboltAction.java#L193

[2015-08-06 06:48] osek666 commented on #64
Yes, I saw it.
And you think this kind of action (restricting access) is application error?

[2015-08-17 12:49] schaloner commented on #64
Sorry for the delay, I've been on vacation.

If you're using Play 2.4, you can update your Deadbolt dependency to `"be.objectify" %% "deadbolt-java" % "2.4.1"` - this changes the logging level on this line to ´info´.

[2015-08-24 20:27] osek666 commented on #64
Thanks!

[2015-08-28 21:53] sirsavary opened #66 "Opposite of @Pattern"
I was wondering if an annotation could be implemented to deny a user access if they have a certain permission. SubjectNotPresent already exists so I don't see why not. I'd like this functionality so I can grant all users all functionality by default and then use permissions to ban them from certain areas of the site.

[2015-08-31 05:41] schaloner commented on #66
This can be added as an attribute of the constraint.  It'll be in the next release.

[2015-09-01 06:03] sirsavary commented on #66
Fantastic! Thank you very much for your work on this.

[2015-09-02 06:44] schaloner commented on #66
This feature is in `"be.objectify" %% "deadbolt-java" % "2.4.2-SNAPSHOT"` (don't forget to add the snapshot repo) if you want to try it out.

`@Pattern(..., invert = true)`

Would you be interested in having your project listed on http://deadbolt.ws/#/home ?

[2015-09-03 10:19] schaloner commented on #66
This has been released as "be.objectify" %% "deadbolt-java" % "2.4.2"

[2015-09-03 10:19] #66 closed

[2015-09-03 10:19] #64 closed

[2015-09-07 22:20] sirsavary commented on #66
Awesome! This is going to make managing my site a million times easier. I'd also love to have my project listed, anyway I can get that information to you?

[2015-09-08 05:50] schaloner commented on #66
Sure, you can email deadbolt@objectify.be and me know the details.

[2015-09-08 08:32] schaloner commented on #66
I spotted a bug in this earlier, so make sure you use 2.4.2.1-SNAPSHOT - I'll release the final version of this in about 7 hours.

Are you using PatternType.CUSTOM constraints?

[2015-09-08 08:33] schaloner commented on #66
@sirsavary I spotted a bug in this earlier, so make sure you use 2.4.2.1-SNAPSHOT - I'll release the final version of this in about 7 hours.

Are you using PatternType.CUSTOM constraints?

[2015-09-14 06:04] #7 closed

[2015-09-14 06:05] #36 closed

[2015-09-30 12:26] schaloner commented on #60
Use `@import be.objectify.deadbolt.java.ViewAccessPoint.Implicits._` to get the handler cache, and you can then call `apply` on it with a handler key.

[code]

In this example, taken from [here](https://github.com/schaloner/deadbolt-2-java-examples/blob/master/app/views/examples/templates/Dynamic.scala.html), `HandlerKeys` is an enum.

[code]

[2015-09-30 12:26] #60 closed

[2015-10-03 21:03] schaloner commented on #34
Agreed - take a look at those links, and the resulting book at https://leanpub.com/deadbolt-2

[2015-10-03 21:03] #34 closed

[2015-11-04 11:57] rakesh-roshan opened #67 "NPE While using Restrict Play 2.4"
My DeadBoltHandler is

public class GPSDeadboltHandler extends AbstractDeadboltHandler {

	@Override
	public F.Promise<Optional<Result>> beforeAuthCheck(Context context) {
		// TODO Auto-generated method stub
		return F.Promise.pure(null);
	}

	@Override
	public F.Promise<Optional<Subject>> getSubject(Context context) {
		// TODO Auto-generated method stub
		Injector injector = Play.application().

[2015-11-04 13:18] rakesh-roshan commented on #67
After looking at your examples I figured out that instead of null I should return Optional::Empty from preAuth method. That fixed it.

[2015-11-04 13:18] #67 closed

[2015-11-05 06:21] schaloner commented on #67
You beat me to it - indeed, that's the solution.

    public F.Promise<Optional<Result>> beforeAuthCheck(Context context) {
        // TODO Auto-generated method stub
        return F.Promise.pure(Optional.empty());
    }

[2015-11-25 15:19] sindrit opened #68 "@Transactional annotation breaks when using @DeferredDeadbolt"
I'm using play 2.4.3 and deadbolt-java 2.4.3.

It a play controller is annotated with @DeferredDeadbolt and has some action methods with @Transactional the DeferredDeadboltAction breaks the Ebean transaction mechanism.

@Transactional adds the play.db.ebean.TransactionalAction which simply wraps the deligate in Ebean.execute() which rolls back the transaction if it catches an exception.

[code]

D

[2015-11-26 06:54] schaloner commented on #68
Unfortunately, this is a case where you can only have one of the two solutions proposed above.  There's a discussion of the same problem with regards to JPA [here](https://github.com/schaloner/deadbolt-2-java/issues/7).

[2015-11-26 09:03] sindrit commented on #68
I ended up migrating away from using DeferredDeadbolt, as far as I can tell my app was using DeferredDeadbolt because my DeadboltHandler was unable to find the correct Subject if some other Actions had not run already. My DeadboltHandler now implements beforeAuthCheck() to find the Subject and @Restrict without deferred works fine now (with @Transactional).

[2015-12-10 09:33] mkurz commented on #68
@sindrit You could also try to set
[code]
in `application.conf`

[2016-02-14 11:11] nem25 opened #69 "Play 2.4 installation"
I feel really ridiculous about this but I just can't get the deadbolt packages to register on Play. I'm using IntelliJ and the full description of my problem is here - [stackoverflow](http://stackoverflow.com/questions/35386580/play-2-4-and-deadbolt-installation)

Any help would be much appreciated!

[2016-02-17 08:50] schaloner commented on #69
The READMEs of both the Scala and Java versions have been updated to be useful, in both the 2.4 and master branches.  I hope this helps!

[2016-02-17 18:36] nem25 commented on #69
Yes thanks! Some ppl on stack helped me too!

[2016-02-17 18:36] #69 closed

[2016-02-18 08:53] zarubto4 commented on #58
Hello @schaloner, Thank you for deadbolt. But I still did not find anything about #9  , if you solved the combination @Dynamic OR @Restrict and also  @Dynamic AND @Restrict.

[2016-03-03 09:10] schaloner commented on #58
I've played around with a few different ideas to handle this.  Fitting it into an annotation-based approach and not have it be horribly complicated is proving tricky, but I have something that looks promising.

[2016-03-03 09:45] eximius313 commented on #58
Great! :+1:

[2016-03-07 09:11] schaloner commented on #9
If you take a look at https://deadbolt-java.readme.io/v2.5/docs/composite-constraints you can see how to create composite constraints.  Once it's finalized in 2.5, I'll backport it to 2.4.

The Scala implementation is ongoing.

[2016-03-16 09:38] schaloner commented on #9
The Scala version is now available too.  See https://deadbolt-scala.readme.io/v2.5/docs/composite-constraints for usage information.

[2016-03-16 09:38] #9 closed

[2016-03-23 08:32] umbreak opened #70 "Deadbolt timeout using Play 2.5"
This is related with the [issue described in Stackoverflow](http://stackoverflow.com/questions/36142724/play-framework-2-5-0-java-blocked-netty-event-loop-threads-resulting-in-time)

Deadbolt Deadbolt-java 2.5.0-SNAPSHOT: timeout messages in our logs related to Deadbolt

[2016-03-23 08:39] schaloner commented on #70
Can you share any details of what you're using (controller constraints, template constraints, etc), implementations of DeadboltHandler, etc?

[2016-04-22 08:11] dhirenpratap commented on #68
In play 2.5.2 It's breaking for me as well.

Any resolutions?

[2016-04-22 09:15] dhirenpratap commented on #68
Another work-around is, switch the order of annotation. It works as expected.

[code]

[2016-09-11 16:15] scweang opened #71 "problems when using AuthenticateRequest"
I found it is a little difficult to use deadbolt with custom Actions such as a simple action which extends ActionBuilder.

For example, I have a multiple-tenant system. Each valid request contains not only user info, but also the tenant this user belongs to. So I have a TenantRequest which extends WrappedRequest and have a member named tenant.

However, when I want to use deadbolt to do permission

[2016-09-11 16:18] scweang commented on #71
Also, I think that the type of Subject might be more convenient if we can change it to its sub-type.

[2016-09-12 05:48] schaloner commented on #71
I'm in the process of updating Deadbolt for exactly this reason.  I'll keep this question open until it's released and let you know when it's available.

[2016-09-12 06:19] scweang commented on #71
Thanks for your response~~~I'm looking forward to apply deadbolt in my application~

[2016-09-17 08:55] schaloner commented on #71
Moved to https://github.com/schaloner/deadbolt-2-scala/issues/26

[2016-09-17 08:55] #71 closed

[2016-10-06 06:38] schaloner commented on #70
According to the comments on http://stackoverflow.com/q/36142724/1063929 the issue is not related to Deadbolt.

See https://github.com/playframework/playframework/issues/5972 for the bug report.

[2016-10-06 06:38] #70 closed

[2016-10-06 06:45] schaloner commented on #31
Method annotations take precedence over class annotations, so the execution of the method annotation is as expected.

For a class like this

    @Dynamic(name = "foo")
    public class MyController extends Controller {
        @Dynamic(name = "bar")
        public Result index() {...}
    }

Only `bar` will execute, immediately or deferred.  If it fails, authorization is blocked and `foo` will not

[2016-10-06 06:45] #31 closed

[2016-11-28 14:05] xpavlic4 opened #72 "Example app is down"
http://deadbolt-2-scala.herokuapp.com/ is not working right now

[2016-11-29 10:10] schaloner commented on #72
Thanks for the report - this is now fixed.

[2016-11-29 10:10] #72 closed

[2017-02-23 03:31] zalito12 opened #73 "Failure with @SubjectPreset not with @Restrict"
Hello! I'm getting Auth Failure when I use `@SubjectPresent` and not when I use `@Restrict...`
I think I have the problem located but I cannot find a good reason about why this is happening.

On my `breforeAuthCheck()` method I set some data on `context` session to access it directly on `getSubject()`. I tested it with some examples with different roles (I use session to propagate user info and do

[2017-02-23 07:44] schaloner commented on #73
Are you doing anything in [DeadboltHandler#beforeAuthCheck](https://github.com/schaloner/deadbolt-2-java/blob/master/code/app/be/objectify/deadbolt/java/DeadboltHandler.java#L48)?

[2017-02-23 16:40] zalito12 commented on #73
Sorry I mistake method names, `beforeCorrect()` is a private method I created and executes on [ DeadboltHandler#beforeAuthCheck](https://github.com/schaloner/deadbolt-2-java/blob/master/code/app/be/objectify/deadbolt/java/DeadboltHandler.java#L48). In `breforeAuthCheck()` I look up for `Authorization` header, verify a JWT token and propagate the user info over the context sessions.
When I make use

[2017-02-23 23:28] schaloner commented on #73
In the ‘SubjectPresent‘ annotation, you need to set the ‘forceBeforeAuthCheck‘ property to ‘true‘. Does that fix it?

Check the [comments](https://github.com/schaloner/deadbolt-2-java/blob/master/code/app/be/objectify/deadbolt/java/actions/SubjectPresent.java) for that property for more details.

[2017-02-25 21:20] zalito12 commented on #73
My bad, sorry. I didn't notice that. It's working now. Thank you.

[2017-02-25 21:20] #73 closed

[2017-02-26 11:48] eximius313 opened #74 "Possibility to change severity of "Deadbolt: Access failure""
Whenever somebody tries to access protected resource and is not yet logged in, Deadbolt prints WARNING ```Deadbolt: Access failure```

It is a problem, because if user's session expired, he just loggs in again, but we have hundreds of this message in logs.

How to change it to "INFO" for example?
Kind regards

[2017-02-27 17:44] schaloner commented on #74
No problem.  I'll make the changes (or you can submit a PR) and I'll release it this week.

[2017-03-09 11:48] eximius313 commented on #74
Hey @schaloner :)
Any news on this?

[2017-03-10 08:00] schaloner commented on #74
Hi, sorry for the delay.  I've been looking at making this configurable without affecting performance so it wasn't just a straight switch of logging levels.  I'll push it out today.

[2017-03-10 08:08] schaloner commented on #74
Although, it's the only non-exceptional warning in the code...I'll keep it simple and just change the level directly.

[2017-03-13 09:21] schaloner commented on #74
This is available in 2.5.5-SNAPSHOT.  If no other issues come up by the end of the week, I'll cut the 2.5.5 release.

[2017-03-15 15:52] eximius313 commented on #74
Looks like everything is fine!

[2017-03-20 07:21] schaloner commented on #74
Excellent.  I'll release this today.

[2017-03-21 21:08] eximius313 commented on #74
is it ```"be.objectify" %% "deadbolt-java" % "2.5.5"``` now?

[2017-04-04 08:09] schaloner commented on #74
Should be, but I've just checked the release to Sonatype and it looks like there was a signing issue.  I'll look into it.

[2017-04-10 16:58] markehammons opened #75 "How long are Subjects cached in deadbolt?"
Is there a way to make sure cached user information is updated if I know it needs updated?  Or is the cache time for users very short?

[2017-04-18 07:57] schaloner commented on #75
If you enable user caching by setting `deadbolt.java.cache-user` to `true`, this caches the subject for the lifetime of the request.  It's an optimization that primarily benefits template constraints, which may be used multiple times within a single request.

[2017-04-20 07:15] schaloner commented on #74
I have no idea what happened, but it's finally available.  I had to create a new key to sign the artifacts with, and then it went through.

[2017-06-23 08:17] 030 opened #76 "How to deviate between an Admin and a user using deadbolt"
If a user is an admin, where does it need to be defined and if a user is a normal user?

[2017-06-23 08:44] schaloner commented on #76
A user can have multiple roles - `Subject#roles` (Scala) and `Subject#getRoles` (Java) both return lists.  So, if you're using `Restrict`, a user who is both an admin and a user will have access to anything restricted to Restrict(admin) or Restrict(user).

[2017-10-13 15:14] yeryomenkom opened #77 "Examples of usage with Play 2.6"
Could you provide some examples of using this plugin with playframework 2.6?

[2017-11-05 19:16] mkurz commented on #54
My pull request https://github.com/schaloner/deadbolt-2-java/pull/50 addresses exactly this issue here:
By setting `deadbolt.java.constraint-mode = "AND"` all the constraints would be chained and the action method would only run if all the constraints are succesful.

[2017-11-05 19:16] mkurz commented on #54
(updated my comment)

[2017-11-05 19:34] mkurz commented on #31
@tomasu82 my pull request https://github.com/schaloner/deadbolt-2-java/pull/50 addresses your issue:
By setting `deadbolt.java.constraint-mode = "AND"` all the constraints would be chained and the action method would only run if **all** the constraints are succesful.

Also in Play you are now able to influence to order which annotations will be called first (the method ones or the controller ones)

[2017-11-05 19:53] mkurz commented on #75
I think this can be closed.

[2018-02-28 12:14] mkurz commented on #76
I think this issue can be closed.

[2018-02-28 12:16] mkurz commented on #77
Here are the docs:
https://deadbolt-java.readme.io/docs/
There is even a book you can read for free - however @schaloner would be very happy if you donate some cash :smile:
https://leanpub.com/deadbolt-2

[2018-02-28 12:16] mkurz commented on #77
I think we can close this issue.

[2018-02-28 12:17] mkurz commented on #59
Three year old issue, I think we can close that one.

[2018-02-28 12:21] mkurz commented on #74
Can be closed.

[2018-02-28 12:41] mkurz commented on #68
This can be closed.

Thanks to these commits and pull requests
https://github.com/schaloner/deadbolt-2-java/commit/0fd0ef1afd9ebcc3fca030b6e34b8a1745dbb8f4
https://github.com/schaloner/deadbolt-2-java/commit/e54707efc6ac2904a6f69f96b0c0b01f46f5d2a6
https://github.com/schaloner/deadbolt-2-java/pull/52
deadbolt now doesn't switch the thread anymore which led to the problems described above.

Also th

[2018-02-28 21:55] #74 closed

[2018-02-28 22:00] eximius313 commented on #59
Just to add my two cents:
I'm using `*Service` in my Deadbolt SecurityHandler, so I can Mock it using Mockito and this approach:
[code]

[2018-02-28 22:01] eximius313 commented on #68
@mkurz shouldn't it also be documented here: https://github.com/schaloner/deadbolt-2-java/issues/89 ?

[2018-03-01 11:05] mkurz commented on #68
@eximius313 I added `play.http.actionComposition.controllerAnnotationsFirst` to the tracking ticket. The blocking config is already in the docs I think.

[2018-03-02 10:17] #77 closed

[2018-03-02 10:17] #76 closed

[2018-03-02 10:17] #75 closed

[2018-03-02 10:17] mkurz commented on #59
@eximius313 Thanks for sharing you code!

[2018-03-02 10:17] #59 closed

[2018-03-02 10:18] #68 closed

[2018-03-02 17:12] eximius313 commented on #75
@mkurz I think it's a good idea to clarify that one in new docs as well

[2018-03-02 17:16] mkurz commented on #75
@eximius313 Added to https://github.com/schaloner/deadbolt-2-java/issues/89: "Clarify how caching works..."

[2019-02-04 10:50] lenin122 opened #78 "Deadbolt non compatible with play 2.7"
Cannot migrate, fails on dependency injections in deadbolt module.

[2019-02-04 10:52] mkurz commented on #78
@lenin122 Are you using deadbolt-2-java or deadbolt-2-scala?

[2019-02-04 10:55] lenin122 commented on #78
deadbolt2-scala
also I'm trying to migrate to java 11

[2019-02-04 11:01] mkurz commented on #78
https://github.com/schaloner/deadbolt-2-scala does not have support for Play 2.7 yet...
Someone has to update the project... You can provide a pull request if you want...

[2019-02-04 11:01] mkurz commented on #78
Oh wait, someone did it, see: https://github.com/schaloner/deadbolt-2-scala/pull/44

[2019-02-04 11:01] mkurz commented on #78
Closing this issue here.

[2019-02-04 11:01] #78 closed, assigned to nobody

[2020-09-09 03:36] KingHO2359 opened #79 "[question] web-site deadbolt is still alive?"
I want to find a authentication solution for my project in Play. I found deadbolt 2. And...
![image](https://user-images.githubusercontent.com/36753313/92551242-ba666180-f287-11ea-9a47-96a4d751d896.png)
It is alive?
Thanks.

[2020-09-09 03:41] #79 closed, assigned to nobody

[2021-06-26 11:32] DiogoTavaresDeAlmeidaRibeiro opened #80 "Unable to compile"
Hi,

I have a really old app using play 2.0.8 that won't compile.

I have this in Build.scala:

    val appDependencies = Seq(
            "be.objectify" %% "deadbolt-2" % "1.1.3-SNAPSHOT"
        )
        val main = PlayProject(appName, appVersion, appDependencies, mainLang = JAVA).settings(
           resolvers += Resolver.url("Objectify Play Repository", url("http://schaloner.github.com/releas